################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Test_String/obj
/Person_And_BankAccaunt/bin/*
/Person_And_BankAccaunt/obj/*
*.v2
*.suo